# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/

# Git
.git/
.gitignore

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Deployment files
deploy/

# Docker
docker-compose.yml
Dockerfile

# Documentation
*.md
HELP.md
